body{
    max-width: 100%;
    background-image: linear-gradient(to bottom, black 70%, white 100%);
     
    font-family: "Lato", sans-serif;
    font-weight: 700;
    
  }

.contenedor{
    margin: 0 auto; 
}

.title{
    text-align: center;
    color: rgb(192, 192, 192);
    line-height: 1.2;
    font-weight: 100;
    border-bottom: 1px solid rgb(191, 189, 189);
}
.title-graficas{
    text-align: center;
}

.title span{
    text-transform: uppercase;
      
    font-weight: 900;
    font-size: 38px;
    color: white;
  
    
    
}

 

.principal{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
     
}

.bar{
    max-width: 320px;
    background-color: rgb(255, 255, 255, .8);
     
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 15px;
    padding: 10px;
    
}

.formulario{
    max-width:340px;
     margin-left: 4px;
}

 

.saber-mas {
    max-width: 100%;
    display: flex;
    flex-direction: column;
     
    color: white;

}

.saber-mas h2{
    font-weight: 900;
    font-size: 17px;
    line-height: 1;
    text-align: center;
}

.saber-mas p {
    width: 100%;
    font-weight: 100;
    text-align: justify;
    background-color: rgb(218, 215, 215, .1);
    border-radius: 8px;
    font-size: 11px;
    color: black;
     
}
.resultados{
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 30px;
    background-color: rgb(78, 77, 77);
    border: 1px solid black;
    border-radius: 8px;
}

.esperando{
    text-align: center;
    
}

.text-precio{
    color: white;
     
}

@media (min-width: 768px) {
    .principal {
         
        justify-content: center;
        gap: 1rem;
        align-items: flex-start;
    }

    .formulario{
         min-width: 400px;
        margin: 0;         
    }
    

    .title{
        width: 400px;
        font-size: 35px;
         margin: 0 auto;
         padding-top: 40px;
         line-height: 1.5;
         letter-spacing: 2px;
    }

    .saber-mas h2 {
        font-size: 24px;
    }
    .saber-mas p{
        max-width: 700px;
        font-size: 18px;
        margin: 0 auto;
        padding:0px 10px;
    }

     
        
}

@media (min-width: 1280px){
    .principal {
        display:flex;
        justify-content:center ;
        gap: 2rem;
    }

     

    .saber-mas p {
        max-width: 1200px;
        padding: 20px 10px;
        font-size: 16px;
        color: black;

    }
    .bar{
       min-width: 400px;
        
    }

    .title{
        margin-bottom: 10px;
        margin-top:0;
        letter-spacing: 4px;
    }

    .resultados{
        padding: 40px 50px;
        margin-top: 30px;
    }

     
     
}

 


